
  .navbar-light .navbar-nav.mr-auto .nav-link,.navbar-light .navbar-nav.ml-auto .nav-link
  {
      color:#ffffff;
  }
  .dz-upload {
    background-color: #cdcdcd;
    height: 10px;
    width: 0%;
}
