@media only screen and (max-width: 1024px) {
   .one-item{
    width: auto;
    display: inline-flex;
    justify-content: space-between;
    gap: 4rem;
   }
   
   .item-logo-btn-nav{
    gap: 1rem;
   }
   
   .plus-serves , .bay , .req{
    display: none !important;
   }
   
    .navbar-brand img {
        max-height: 36px !important;
    }
    .v-list{
        width: 50%;
    }
   
  }